body{
    text-align: center;
}
.links{
    font-size: 25px;
    font-weight: bold;
    color: blueviolet;
    background-color: aqua
}
.img2{
    height: 300px;
    width: 300px;
}
#title{
    font-weight: bold;
    color: crimson;
}
.img-responsive{
    height: 100%;
    width: 100%;
}
.carousel-content{
    font-size: 20px
}
